* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.infobae.com/resizer/v2/AE7KT2XUWZDTTLJOKFFQFM4N7M.png?auth=d896fa33c7876ff1fd53427f7664424c45c73a759487904caa2782248d82e049&smart=true&width=992&height=558&quality=85");
  background-repeat: none;
  background-size: cover;
}

header h1 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
form {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  margin: auto auto;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
form input {
  width: 90%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

form input:focus {
  box-shadow: 0px 0px 10px gray;
}

form button {
  background-color: rgb(167, 14, 14);
  border-radius: 5px;
  border: none;
  width: 90%;
  height: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

form button:hover {
  background-color: black;
  color: white;
}

.registro {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  background-color: #007bff;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
  height: 25px;
}
.registro:hover {
  background-color: #0056b3;
}

.volver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: auto;
  text-decoration: none;
  text-align: center;
}

.volver:hover {
  background-color: white;
  color: black;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
