* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

main {
  background: linear-gradient(to bottom, #0a0a0a, #33312f, rgb(78, 3, 3));
  background-size: cover;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}

.profesorCuadro {
  color: white;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  margin: auto auto;
}

.imagenPerfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.datos1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cargarFoto {
  background-color: rgb(56, 175, 56);
  border: none;
  font-size: 1.5rem;
  width: 150px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}
.cargarFoto:hover {
  background-color: green;
}

.inputFoto {
  width: 150px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.inputFoto:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.alumnos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;

  margin: 10px;
}

.alumnos h2 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.listaAlumnos {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.alumno {
  background-color: black;
  color: white;
  border-radius: 2px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px 2px 5px;
}

.alumno p {
  width: 33%;
}

.sinAlumnos {
  font-size: 2rem;
  color: white;
}

.contenedorImagen {
  position: relative;
}
.infoAlumno {
  width: 20px;
  height: 20px;
}
.info-cuadro {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
}

.crearRutina {
  width: 20px;
  height: 20px;
}

.info-rutina {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
}

.volver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: auto;
  padding: 5px;
  height: 1.5rem;
  text-decoration: none;
  text-align: center;
}
.volver:hover {
  background-color: white;
  color: black;
}

.logout {
  background-color: rgb(185, 9, 9);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: black;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
